POSTAL_HOSTNAME=postal.stillinqueue.com
POSTAL_WEB_PORT=5000
POSTAL_SMTP_PORT=587
POSTAL_SMTP_BIND_PORT=587
POSTAL_MTA_BIND_PORT=25
POSTAL_DB_NAME=postal
POSTAL_DB_USER=postal
POSTAL_DB_PASS=replace_me_db_password
POSTAL_RABBIT_USER=postal
POSTAL_RABBIT_PASS=replace_me_rabbit_password
POSTAL_SECRET_KEY=replace_with_long_random_secret
